<div class="title">
    <h2 >Members</h2>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div >
    <table class="table tableColor" style="margin-top: 80px;">
      <thead class= "table-dark">
        <tr>
          <th>＜Student Id＞</th>
          <th>＜Name＞</th>
          <th>＜Part＞</th>
        </tr>
      </thead>

      <tbody>
          <tr class="table-secondary"><th colspan="3">・院生</th></tr>
          <% @users.each do |user| %>
            <% if user.hantei==0 %>
              <%= render 'table', user: user %>
            <% end %>
          <% end %>
          <tr class="table-secondary"><th colspan="3">・学部生</th></tr>
          <% @users.each do |user| %>
            <% if user.hantei==1 %>
              <%= render 'table', user: user %>
            <% end %>
          <% end %>
          <tr class="table-secondary"><th colspan="3">・短大生</th></tr>
          <% @users.each do |user| %>
            <% if user.hantei==2 %>
              <%= render 'table', user: user %>
            <% end %>
          <% end %>
          <tr class="table-secondary"><th colspan="3">・その他</th></tr>
          <% @users.each do |user| %>
            <% if user.hantei==3%>
              <%= render 'table', user: user %>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
    <%= link_to 'New User', new_user_path %>
</div>
 </div>
