<div class="title">
    <h2 >Members</h2>
</div>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div >
    <table class="table tableColor" style="margin-top: 80px;">
      <thead>
        <tr>
          <th>＜Student Id＞</th>
          <th>＜Name＞</th>
          <th>＜Part＞</th>
        </tr>
      </thead>

      <tbody>
          <tr><th colspan="3">・院生</th></tr>
          <% @users.each do |user| %>
            <% if user.student_id.include?("m") %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% end %>
          <% end %>
          <tr><th colspan="3">・学部生</th></tr>
          <% @users.each do |user| %>
            <% if user.student_id.include?("s") %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% end %>
          <% end %>
          <tr><th colspan="3">・短大生</th></tr>
          <% @users.each do |user| %>
            <% if user.student_id.include?("a") %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% elsif user.student_id.include?("b") %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% elsif user.student_id.include?("k") %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% end %>
          <% end %>
          <tr><th colspan="3">・その他</th></tr>
          <% @users.each do |user| %>
            <% if user.student_id.include?("m")%>
            <% elsif user.student_id.include?("s")%>
            <% elsif user.student_id.include?("a")%>
            <% elsif user.student_id.include?("b")%>
            <% elsif user.student_id.include?("k")%>
            <% else %>
              <tr>
                <th><span>　　</span><%= link_to user.student_id, user_path(user), class: 'link'%></th>
                <th><%= link_to user.user_name , user_path(user), class: 'link'%></th>
                <th><%= user.part %></th>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
    <%= link_to 'New User', new_user_path %>
</div>
 </div>
