<div class="title">
    <h2 >Profile</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="allPage">
  <p style="margin-top: 40px;"></p>
  <div class="card" style="width: 500px; margin-left: 50px; box-shadow: 2px 2px 4px gray;margin-bottom: 40px;">
    <h1 style="margin-top: 30px;">PROFILE SHEET</h1>
    <div class="text-left" style="margin-bottom: 40px; margin-left: 40px;">

      <p class="bandSpace">
      <strong>NAME</strong>
      <div>　<%= @user.user_name %></div>
      </p>

      <p class="bandSpace">
        <strong>STUDENT ID</strong>
        <div >　<%= @user.student_id%></div>
      </p>

      <p class="bandSpace">
        <strong>PART</strong>
        <div >　<%= @user.part %></div>
      </p>

      <p class="bandSpace">
        <strong>FAVORITE BAND</strong>
        <div style="white-space: pre-wrap;margin-left: 20px;"><%= @user.like_band %></div>
      </p>

      <p class="bandSpace">
        <strong>MESSAGE</strong>
        <div style="white-space: pre-wrap;margin-left: 20px;"><%= @user.message %></div>
      </p>

      <div style="margin-left: 180px">
      <%= image_tag 'IMG_6607', size: '50x50'%>
      </div>

    </div>
  </div>

  <div style="text-align: center;">
    <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure'   }   %>|
    <% end %>
    <%= link_to 'Back', users_path %>
  </div>
</div>
