<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'band6.JPG', size: '800x470'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'band9.JPG', size: '800x470'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'band12.JPG', size: '800x470'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'band7.JPG', size: '800x470'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'band11.JPG', size: '800x470'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
