<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <%= link_to image_tag('IMG_6607.jpg', size:'40x40'), root_path %>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "HOME", root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "MEMBER", users_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "BAND", bands_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav d-flex">
          <% if current_user %>
            <li class='nav-item dropdown dropdown-slide'>
              <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="header-profile">
                <%= image_tag 'sample.png', size: '40x40', class: 'rounded-circle mr15'%>
              </a>
              <div class='dropdown-menu dropdown-menu-right'>
                <div class='dropdown-item'>名前</div>
                <div class='dropdown-divider'></div>
                <%= link_to "Profile", user_path(current_user.id), class: 'dropdown-item' %>
                <%= link_to "Logout", :logout, method: :post, class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Register", new_user_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "Login", :login, class: 'nav-link'%>
            </li>
          <% end %>
          </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
