<div class="site-overlay">
    <header id="home">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-10">
                        <%= link_to image_tag('logo_transparent.png', class: 'img-responsive'), root_path %>
                    </div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <%= link_to 'Home', root_path, class: "nav-link active", id: "pills-home-tab",role: "tab", 'aria-controls': 'pills-home', 'aria-selected': :true %>
                        </li>
                        <li class="nav-item" role="presentation">
                            <%= link_to 'Member', users_path, class: "nav-link", id: "pills-profile-tab", role: "tab", 'aria-controls': 'pills-profile', 'aria-selected': :false %>
                        </li>
                        <li class="nav-item" role="presentation">
                            <%= link_to 'Band', bands_path, class: "nav-link", id: "pills-contect-tab", role: "tab", 'aria-controls': 'pills-contact', 'aria-selected': :false %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "MOVIE", movies_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "EQUIPMENT", equipments_path, class: 'nav-link' %>
                        </li>
                    </ul>
                </div>
                <div class="jumbotron">
                    <h1><strong>C U O</strong></br>
                    <small>Comfort Utopian Orchestra</small></h1>
                    <p>This is CUO, a music circle at the University of Aizu. <br>
    The official name of the group is Comfort Utopian Orchestra. Let's play music together!</p>
                    <p>
                        <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary', role: 'button' %>
                        <%= link_to 'Signup', new_user_path, class: 'btn btn-lg btn-danger', role: 'button' %>
                    </p>
                </div>
            </div>
        </div>
    </header>
</div>
