<%= render 'shared/home' %>
<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 style="font-size: 5.0vw;">What is CUO?</h2>
                <p class="home1-text">CUOという名前を聞いただけでは、何をするサークルなのかよく分からないですよね？CUOの正式名称は「Comfort Utopian Orchestra」、「お気楽極楽楽団」で す。要するに何でもありの軽音楽系サークルです。
ジャズをやっているバンドがあるかと思えば激しいロックを聴かせてくれるバンドもあったり、 ゲーム音楽をやっちゃったり変な楽器を持ち出して演奏してみたり…それが「音楽」であればあとはその人のやる気次第。 オリジナル曲を演奏している人たちもいたりします。</p>
                <p class="home1-text">「楽しそうだけど、楽器の経験もないし……」と思っている人も いるかと思いますが、心配しなくても大丈夫です。 現在活動中の部員も半分くらいは大学に入ってから楽器を始めていますが、 みんな楽しく演奏活動をしていますよ。 具体的なフォローとしては毎年春に「ごちゃ混ぜバンド演奏会」 というイベントで新入生のバンド初体験をサポートしています。 ですから気後れせずに声をかけてくださいね。</p>
                <a href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CUO_aizu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-5">
                <a class="twitter-timeline" href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" width="400px" height="600px">Tweets by CUO_aizu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
<section id="about" class="number wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline col-md-offset-6">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h4>CUO Member & Band</h4>
                            <p>入部希望者は，TwitterまたはInstagramでDMください</p>
                            <p><small>入部希望を受け取り次第、CUOのLINEグループに招待いたします。
                            以下が、現在の部員数とバンド数になっています。</small></p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                            <h5>Members</h5>
                            <h3 class="odometer 01"><%= User.count %></h3>
                        </div>
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                            <h5>Bands</h5>
                            <h3 class="odometer 02"><%= Band.count %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <%= image_tag 'jc-120.jpg', class: 'img-responsive' %>
            </div>
            <div class="col-md-7">
                <h4 class="home-title-text">機材</h4>
                <p class="home2-text">機材の詳しい使い方は　”EQUIPMENT”　ページからご覧ください。</p>
                <p class="home2-text">また機材説明を受けていない方の使用は禁止となっております。以下、部室にある主な機材です。</p>
                <p class="home2-text">・Blackstar ID:100 TVP / JC-120 / Ampeg BA-115 / Roland JUNO-G / Roland XV-88 / Drum ...
                <p style="text-align: center; margin-top:50px"><%= link_to "More", equipments_path, class: 'btn btn-outline-dark' %></p>
            </div>
        </div>
    </div>
</section>

<section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead"><i>CUO Youtube</i></p>
                            <div class="sc">
                                <% @movies.each do |movie| %>
                                    <h6 class="lead"> - <%= movie.title %></h6>
                                    <p><small><%= Rinku.auto_link(movie.content, :all, 'target="_blank"').html_safe %></small></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <%= image_tag 'IMG_6737 2.jpg', class: 'img-responsive' %>
            </div>
            <div class="col-md-7">
                <h4 class="home-title-text">部室</h4>
                <p class="home2-text">部室は厚生棟の三階にあり、そこで個人練習やバンド練習を行っています。興味がある方は
                是非、下のタイムテーブルをみて部員がいる時間帯に覗いてみてください。</p>
                <p class="home2-text">部室の鍵は、厚生棟の警備員室に行き、学生証を提示した上で借りることができます。部室の使い方など、詳しくはこちらのページからご覧ください。</p>
                <p style="text-align: center; margin-top:50px"><%= link_to "More", equipments_path, class: 'btn btn-outline-dark' %></p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <h3 style="text-algin: center;">Time Table</h3>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=750&amp;wkst=1&amp;hl=ja&amp;bgcolor=%23FFFFFF&amp;src=aizucuo%40gmail.com&amp;color=%232952A3&amp;src=ja.japanese%23holiday%40group.v.calendar.google.com&amp;color=%23528800&amp;ctz=Asia%2FTokyo" class="col-md-12" style=" border-width:0 " height="800" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
