<%= render 'shared/home' %>
<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>What is CUO?</h2>
                <p>CUOという名前を聞いただけでは、何をするサークルなのかよく分からないですよね？CUOの正式名称は「Comfort Utopian Orchestra」、「お気楽極楽楽団」で す。要するに何でもありの軽音楽系サークルです。
ジャズをやっているバンドがあるかと思えば激しいロックを聴かせてくれるバンドもあったり、 ゲーム音楽をやっちゃったり変な楽器を持ち出して演奏してみたり…それが「音楽」であればあとはその人のやる気次第。 オリジナル曲を演奏している人たちもいたりします。</p>
                <p>「楽しそうだけど、楽器の経験もないし……」と思っている人も いるかと思いますが、心配しなくても大丈夫です。 現在活動中の部員も半分くらいは大学に入ってから楽器を始めていますが、 みんな楽しく演奏活動をしていますよ。 具体的なフォローとしては毎年春に「ごちゃ混ぜバンド演奏会」 というイベントで新入生のバンド初体験をサポートしています。 ですから気後れせずに声をかけてくださいね。</p>
                <a href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CUO_aizu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-5">
                <a class="twitter-timeline" href="https://twitter.com/CUO_aizu?ref_src=twsrc%5Etfw" width="400px" height="600px">Tweets by CUO_aizu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
<section id="about" class="number wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline col-md-offset-6">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h4>CUO Member & Band</h4>
                            <p>入部希望者は，部長宛てに入部希望のメールを出してください</p>
                            <p><small>部長が入部希望を受け取り次第、メーリングリストへの登録作業を行います。登録作業が終わり次第、 サークルのシステムについて書いたメールを管理者が新入部者へ宛てて送ります。 新入部者は管理者から宛てられたメールの内容を確認後、メーリングリストに自己紹介を添えたメールを送信してください。 この時、新入部者となったあなたへもCUOからのメールが届けば入部手続きは全て終了です。</small></p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                            <h5>Members</h5>
                            <h3 class="odometer 01"><%= User.count %></h3>
                        </div>
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                            <h5>Bands</h5>
                            <h3 class="odometer 02"><%= Band.count %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <%= image_tag 'sample.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-7">
                <h4>機材</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.</p>
                <p>Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>
                <a class="btn btn-danger btn-lg" href="#">Detail<i class="fa fa-arrow-circle-o-right"></i> </a>
            </div>
        </div>
    </div>
</section>

<section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead"><i>CUO Youtube</i></p>
                            <div class="sc">
                                <% @movies.each do |movie| %>
                                    <h6 class="lead"> - <%= movie.title %></h6>
                                    <p><small><%= Rinku.auto_link(movie.content, :all, 'target="_blank"').html_safe %></small></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <%= image_tag 'sample.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-7">
                <h4>部室</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.</p>
                <p>Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>
                <a class="btn btn-danger btn-lg" href="#">Detail<i class="fa fa-arrow-circle-o-right"></i> </a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <h3 style="text-algin: center;">Time Table</h3>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=750&amp;wkst=1&amp;hl=ja&amp;bgcolor=%23FFFFFF&amp;src=aizucuo%40gmail.com&amp;color=%232952A3&amp;src=ja.japanese%23holiday%40group.v.calendar.google.com&amp;color=%23528800&amp;ctz=Asia%2FTokyo" class="col-md-12" style=" border-width:0 " height="800" frameborder="0" scrolling="no"></iframe>
    </div>
</div>



