<%= form_with model: @band, local: true do |form| %>
        <div class="field">
          <%= form.label :band_name, "バンド名" %>
          <%= form.text_field :band_name, :placeholder => "会津っこ" ,class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :band_members, "バンドメンバー" %>
          <%= form.text_area :band_members,
          :placeholder => "Vo,Gt : 会津 太郎(26期)
Gt : 会津 花子(短大１年)
Ba : 福島 福子(院２年)
Dr : 福島 福男(OB)
          " ,
          :size=>"10x10" ,class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :band_members, "一言" %>
          <%= form.text_area :band_message,:placeholder => "レッチリのコピーやります",  class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :avatar_path ,'バンドのアイコンとする画像を選択してください'%>
          <%= form.file_field :avatar_path ,onchange: 'previewImage(preview)', class: 'form-control' %>
        </div>
        <div>
          <% if @band.avatar_path.present? %>
            <%= image_tag @band.avatar_path.url, id: 'preview',size:'200x200',style:"box-shadow: 2px 2px 4px gray;" %>
          <% else %>
            <%= image_tag "no_image.png", id: 'preview' ,size:'200x200',style:"box-shadow: 2px 2px 4px gray;" %>
          <% end %>
        </div>
        <script type="text/javascript">
          function previewImage(id) {
              const target = this.event.target;
              const file = target.files[0];
              const reader = new FileReader();
              reader.onloadend = function() {
                  preview.src = reader.result;
              };
              if (file) {
                  reader.readAsDataURL(file);
              } else {
                  preview.src = "";
              }
          }
        </script>
        <div class="text-center">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
<% end %>
