<%= form_with model: @band, local: true do |form| %>
        <div class="field">
          <%= form.label :band_name, "バンド名" %>
          <%= form.text_field :band_name, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :band_members, "バンドメンバー" %>
          <%= form.text_area :band_members, :size=>"10x10" ,class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :band_members, "一言" %>
          <%= form.text_area :band_message, class: "form-control" %>
        </div>
        <div class="text-center">
            <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
<% end %>
